/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/api-docs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/debugbar/*
/storage/logs/*
/vendor
.idea
/.vagrant
/resources/views/vendor/l5-swagger/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
composer.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
dump.rdb